{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="Utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'EditTimeplan/styleAdmin0.css' %}">
  </head>
  <body>
    <header>
        <nav class="nav" style="display:flex;justify-content: space-between;">
          <div class="logo">
              <a class="navbar-logo" href="{% url 'accueil' %}">SchedEase</a>
          </div>


          
            
            <!--  --><span style="margin-left: 15px;">{{InfoSchedule}}</span>
      <div class="hamburger-menu">
            <form method="POST" action="{% url 'copier_table' %}" style="margin-right: 15px;">
              {% csrf_token %}
              <button style="padding:6px 14px 6px 14px;border-radius: 6px; border:none;background-color: rgb(127, 146, 205);font-size: 17px;"> 
                <span>
                  Publier
                </span>
              </button>
            </form>
           
            <!--  -->
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-btn">&#9776;</label>
            <ul class="menu-items" style="list-style: none;">
              <li><a href="{% url 'login' %}">Déconnexion</a></li>
            <li><a href="#">Créer un emploie du temps</a></li> 
            <li><a href="{% url 'accueil' %}">Enrégistrer un cours</a></li>
            <li><a href="#">
            </ul>
          </div>
           
          
            
        </nav>
    </header>
    <main>
      <section class="cal">
        <div class="Ahead_Boutton">
        <div class="add-but">
          <button> 
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Créer
            </span>
          </button>
        </div>
          <!--  -->
           <form class='Semaine' action="{% url 'dashboardAdmin' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
    
            <select id="week-selection" name="week" onchange="toggleCustomDate(this.value)">
      
              
              <option value="0">Cette semaine</option>
              <option value="1">Semaine prochaine</option>
              <option value="2">Entrer une date</option>
              
            </select>
            <input type="date" id="custom-date" name="custom_date" class="hidden">
            <button type="submit" class="btn">OK</button>
          </div>
        </form>
        
         </div>
         
<script>
  function toggleCustomDate(value) {
    const customDateInput = document.getElementById('custom-date');
    if (value === '2') {
      customDateInput.classList.remove('hidden');
    } else {
      customDateInput.classList.add('hidden');
    }
  }
</script>
        

       
        <!--  -->
        
          
        {% if AdminUser.promotion == 'L1' %}
        <form id="close-l1" class="form_main" action="{% url 'save_cours' %}" method="post">
          {% csrf_token %} 
          <div class="form-nav">
              <label for="close-checkbox" class="close">
                <div class="line one"></div>
                <div class="line two"></div>
              </label>
              <input type="checkbox" id="close-checkbox-l1" class="close-checkbox">
          </div>
          <p class="heading">Nouveau cours</p>
         
          <div class="inputContainer">
            <input type="time" id="start-time" name="start-time" class="inputField" required onchange="checkEndTime('start-time', 'end-time', 'warning-message')">
            <input type="time" id="end-time" name="end-time" class="inputField" required onchange="checkEndTime('start-time', 'end-time', 'warning-message')">
            <span id="warning-message" class="warningHour warningHidden">Attention: Heure de fin inférieure à l'heure de début</span>
        </div>
          <div class="day">
            <datalist id="day-list">
              <option value="Lundi"></option>
              <option value="Mardi"></option>
              <option value="Mercredi"></option>
              <option value="Jeudi"></option>
              <option value="Vendredi"></option>
              <option value="Samedi"></option>
            </datalist>
            <input type="text" placeholder="Jour" name="day" class="inputField" list="day-list" required>
        </div>
          <div class="mat">
              <input type="text" placeholder="Matière" name="matiere" class="inputField autocomplete"  list='Matiere-list' required autofocus>
                <datalist id="Matiere-list">
                  {% for matiere in matieres %}
                  {% if matiere.promotion == 'L1' %}
                  <option>{{matiere.nom}}</option>
                  {% endif %}
                  {% endfor %}
                </datalist>

          </div> 
        <!--Je veux afficher automatiquement le nom du professeur.Je le ferais plustard -->
        <!-- <div class="prof">   
              <input type="text" placeholder="Nom du professeur"  name="professeur" class="inputField" required>
          </div> -->
        <div class="groupe">
            <input type="text" placeholder="Groupe" name="groupe" class="inputField autocomplete" list="groupe-list"  required autofocus>
            <datalist id="groupe-list">
              <option value="Groupe 1"></option>
              <option value="Groupe 2"></option>
              <option value="Groupe 1 & Groupe 2"></option>
            </datalist>

        </div>
          <div class="salle">
            <input type="text" placeholder="Salle" name="salle" class="inputField" required>
        </div>
          <div class="form-sub">
              <button >Save</button>
              <!-- Apparement ce botton joue le meme role que submit meme lorsqu'on precise pas le type submit -->
          </div>
        </form>

        <script>
          const createButtonL1 = document.querySelector('#close-l1 .form-nav label');
          const formMainL1 = document.getElementById('close-l1');
          const closeCheckboxL1 = document.getElementById('close-checkbox-l1');
      
          createButtonL1.addEventListener('click', function() {
            if (formMainL1.style.display === 'flex') {
              formMainL1.style.display = 'none';
            } else {
              formMainL1.style.display = 'flex';
            }
          });
      
          closeCheckboxL1.addEventListener('change', function() {
            if (this.checked) {
              formMainL1.style.display = 'none';
            } else {
              formMainL1.style.display = 'flex';
            }
          });
        </script>
        {% else %}
        
        <form id="close-l2" class="form_main" action="{% url 'save_coursAll' %}" method="post">
          {% csrf_token %} 
          <div class="form-nav">
              <label for="close-checkbox" class="close">
                <div class="line one"></div>
                <div class="line two"></div>
              </label>
              <input type="checkbox" id="close-checkbox-l2" class="close-checkbox">
          </div>
          <p class="heading">Nouveau cours</p>
         
          <div class="inputContainer">
            <input type="time" id="start-time" name="start-time" class="inputField" required onchange="checkEndTime('start-time', 'end-time', 'warning-message')">
            <input type="time" id="end-time" name="end-time" class="inputField" required onchange="checkEndTime('start-time', 'end-time', 'warning-message')">
            <span id="warning-message" class="warningHour warningHidden">Attention: Heure de fin inférieure à l'heure de début</span>
        </div>
          <div class="day">
            <datalist id="day-list">
              <option value="Lundi"></option>
              <option value="Mardi"></option>
              <option value="Mercredi"></option>
              <option value="Jeudi"></option>
              <option value="Vendredi"></option>
              <option value="Samedi"></option>
            </datalist>
            <input type="text" placeholder="Jour" name="day" class="inputField" list="day-list" required>
        </div>
          <div class="mat">
              <input type="text" placeholder="Matière" name="matiere" class="inputField autocomplete"  list='Matiere-list' required autofocus>
                <datalist id="Matiere-list">
                  {% for matiere in matieres %}
                  {% if matiere.promotion == AdminPromotion %}
                  <option>{{matiere.nom}}</option>
                  {% endif %}
                  {% endfor %}
                </datalist>

          </div> 
        <!--Je veux afficher automatiquement le nom du professeur.Je le ferais plustard -->
        <!-- <div class="prof">   
              <input type="text" placeholder="Nom du professeur"  name="professeur" class="inputField" required>
          </div> -->
        <div class="filiere">
            <input type="text" placeholder="Filiere" name="filiere" class="inputField autocomplete" list="filiere-list"  required autofocus>
            <datalist id="filiere-list"> 
              {% for filiere in filiere %}
             
              <option>{{filiere}}</option>
              {% endfor %}
            </datalist> 

        </div>
          <div class="salle">
            <input type="text" placeholder="Salle" name="salle" class="inputField" required>
        </div>
          <div class="form-sub">
              <button >Save</button>
              <!-- Apparement ce botton joue le meme role que submit meme lorsqu'on precise pas le type submit -->
          </div>
        </form>
        <script>
          const createButtonL2 = document.querySelector('#close-l2 .form-nav label');
          const formMainL2 = document.getElementById('close-l2');
          const closeCheckboxL2 = document.getElementById('close-checkbox-l2');
      
          createButtonL2.addEventListener('click', function() {
            if (formMainL2.style.display === 'flex') {
              formMainL2.style.display = 'none';
            } else {
              formMainL2.style.display = 'flex';
            }
          });
      
          closeCheckboxL2.addEventListener('change', function() {
            if (this.checked) {
              formMainL2.style.display = 'none';
            } else {
              formMainL2.style.display = 'flex';
            }
          });
        </script>
       
        
        {% endif %}
                
        <script>
          const createButton = document.querySelector('.add-but button');
          const formMain = document.getElementById('close-l1');
          const closeCheckbox = document.getElementById('close-checkbox-l1');

          createButton.addEventListener('click', function() {
            if (formMain.style.display === 'flex') {
              formMain.style.display = 'none';
            } else {
              formMain.style.display = 'flex';
            }
          });

          
          
          const formMain2 = document.getElementById('close-l2');
          const closeCheckbox2 = document.getElementById('close-checkbox-l2');

          createButton.addEventListener('click', function() {
            if (formMain2.style.display === 'flex') {
              formMain2.style.display = 'none';
            } else {
              formMain2.style.display = 'flex';
            }
          });

         
          // //fonction pour mettre le curseur à la fin du champs email
          // function setCursorToEnd() {
          //   var emailField = document.getElementById('email');
          //   var emailValue = emailField.value;
          //   emailField.value = '';
          //   emailField.value = emailValue;
          //   emailField.focus();
          // }

          // //Exécuter le fonction lorsqe le document est prêt
          // document.addEventListener('DOMContentLoaded', function() {
          //   {% if error_message %}
          //       setCursorToEnd();
          //   {% endif %}
          // });

        </script>
    
    
    
     


          

        <!-- Formulaire de modification -->
          <hr>
          
            <a href="#" class="show-form-link"></a>
              <div id="conteneur-formulaire" style="display: none;">
              {% if AdminPromotion == 'L1' %}
                <form id="modify" class="form_modify" action="{% url 'modify_url' %}" method="post">
              {% else %}
              <form id="modify" class="form_modify" action="{% url 'ModifyAll' %}" method="post">
              {% endif %}
                  {% csrf_token %}
                  <div class="form-modify">
                    <label for="close-checkbox-modify" class="close-modify">
                      <div class="line one"></div>
                      <div class="line two"></div>
                    </label>
                    <input type="checkbox" id="close-checkbox-modify" class="close-checkbox-modify">
                  </div>
                  <p class="heading">Modifier cours</p>
                
                  <div class="inputContainer">
                    <input type="time" id="Modif_start-time" name="start-time" class="inputField"  required onchange="checkEndTime('Modif_start-time','Modif_end-time','Modif-warning-message')">
                    <input type="time" id="Modif_end-time" name="end-time" class="inputField"  required onchange="checkEndTime('Modif_start-time','Modif_end-time','Modif-warning-message')">
                    <span id="Modif-warning-message" class="warningHour warningHidden">Attention: Heure de fin inférieure à l'heure de début</span>
                </div>
                <div class="day">
                  <datalist id="day-list">
                    <option value="Lundi"></option>
                    <option value="Mardi"></option>
                    <option value="Mercredi"></option>
                    <option value="Jeudi"></option>
                    <option value="Vendredidi"></option>
                    <option value="Samedi"></option>
                  </datalist>
                  <input type="text" id="Modif_day" placeholder="Jour" name="day" class="inputField" list="day-list" required>
              </div>
                <div class="mat">
                    <input type="text" id="Modif_matiere" placeholder="Matière" name="matiere" list='ModifMatiere-list' class="inputField autocomplete" id="matiere"  required autofocus>
    
                    <datalist id="ModifMatiere-list">
                      {% for matiere in matieres %}
                      {% if matiere.promotion == AdminPromotion %}
                      <option>{{matiere.nom}}</option>
                      {% endif %}
                      {% endfor %}
                    </datalist>
                </div>

                
  
            
             {% if AdminPromotion == 'L1' %}
              <div class="groupe">
                  <input type="text" id="Modif_groupe" placeholder="Groupe" name="groupe" class="inputField autocomplete" list="groupe-list"  required autofocus>
                  <datalist id="groupe-list">
                    <option value="Groupe1"></option>
                    <option value="Groupe2"></option>
                    <option value="Groupe1 & Groupe 2"></option>
                  </datalist>
    
              </div>
              {% else %}
              <div class="filiere">
                <input type="text" id="Modif_filiere" placeholder="Filiere" name="filiere" class="inputField autocomplete" list="filiere-list"  required autofocus>
                <datalist id="filiere-list"> 
                  {% for filiere in filiere %}
                 
                  <option>{{filiere}}</option>
                  {% endfor %}
                </datalist> 
                {% endif %}

                <div class="salle">
                  <input type="text" id="Modif_salle" placeholder="Salle" name="salle" class="inputField" required>
              </div>
              <div class="No_visible" >
                <input type="text" id="Modif_cours_id" placeholder="id" name="id_cours_modif" class="inputField" required>
            </div> 
            
                <div class="form-sub">
                    <button id="button">Save</button>
                </div>
              </form>
              </div>
            </section>
            

          <table>
            <tr class="week-days">
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
            </tr>
            <tr class="tab-cont">
              <td>
                {% for cours in CoursProgrammer %}
                {% if cours.jour == "Lundi" %}
                 
                {% if AdminPromotion == 'L1' %}
                     
                      <div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                        <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                        certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                      formulaire de modification 'G.Ronald"-->
                      
                        <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                      {% else %}<div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                      
                      
                        <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span>| <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                      {% endif %}
                      
                    </div>
                 
                {% endif %}
              {% empty %}
                <p>Aucun cours programmé</p>
              {% endfor %}
              </td>
              <!-- Mardi -->
              <td class="tdcolor">
                {% for cours in CoursProgrammer %}
                {% if cours.jour == "Mardi" %}
                 
                {% if AdminPromotion == 'L1' %}
                     
                      <div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                        <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                        certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                      formulaire de modification 'G.Ronald"-->
                      
                        <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                      {% else %}<div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                      
                      
                        <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span>| <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                      {% endif %}
                      
                    </div>
                 
                {% endif %}
              {% empty %}
                <p>Aucun cours programmé</p>
              {% endfor %}
              </td>
              <!-- Mercredi -->
              <td>
                {% for cours in CoursProgrammer %}
                {% if cours.jour == "Mercredi" %}
                 
                {% if AdminPromotion == 'L1' %}
                     
                      <div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                        <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                        certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                      formulaire de modification 'G.Ronald"-->
                      
                        <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                      {% else %}<div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                      
                      
                        <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span>| <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                      {% endif %}
                      
                    </div>
                 
                {% endif %}
              {% empty %}
                <p>Aucun cours programmé</p>
              {% endfor %}
              </td>
              <!-- Jeudi -->
              <td class="tdcolor">
                {% for cours in CoursProgrammer %}
                {% if cours.jour == "Jeudi" %}
                 
                {% if AdminPromotion == 'L1' %}
                     
                      <div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                        <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                        certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                      formulaire de modification 'G.Ronald"-->
                      
                        <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                      {% else %}<div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                      
                      
                        <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span>| <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                      {% endif %}
                      
                    </div>
                 
                {% endif %}
              {% empty %}
                <p>Aucun cours programmé</p>
              {% endfor %}
              </td>
              <!-- Vendredi -->
              <td>
                {% for cours in CoursProgrammer %}
                {% if cours.jour == "Vendredi" %}
                 
                {% if AdminPromotion == 'L1' %}
                     
                      <div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                        <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                        certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                      formulaire de modification 'G.Ronald"-->
                      
                        <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                      {% else %}<div class="cours">
                        <!-- Afficher les informations du cours --> 
                       
                        <p class="jour No_visible">{{ cours.jour }}</p>
                        <p class="id_cours No_visible">{{ cours.id }}</p>
                      
                      
                        <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span>| <span class="salle">{{ cours.salle }}</span></p>
                        <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                        
                        <p class="teacher">{{ cours.teacher }}</p>
                      <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                      <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                      {% endif %}
                      
                    </div>
                 
                {% endif %}
              {% empty %}
                <p>Aucun cours programmé</p>
              {% endfor %}
          </td>
          <!-- Samedi -->
          <td class="tdcolor">
            {% for cours in CoursProgrammer %}
            {% if cours.jour == "Samedi" %}
             
            {% if AdminPromotion == 'L1' %}
                 
                  <div class="cours">
                    <!-- Afficher les informations du cours --> 
                   
                    <p class="jour No_visible">{{ cours.jour }}</p>
                    <p class="id_cours No_visible">{{ cours.id }}</p>
                    <!-- Il ne doivent pas etre visibles.Mais leurs presence me permet de récupérer
                    certaines precisions telles que l'id pour modifier le cours dans la base de données et afficher le jour dans le 
                  formulaire de modification 'G.Ronald"-->
                  
                    <p class="groupe-color"> <span class="groupe">{{ cours.groupe }}</span> <span class="salle">{{ cours.salle }}</span></p>
                    <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                    <p class="teacher">{{ cours.teacher }}</p>
                  <button class="edit-button modifier_btn" onclick="editRow(this)"> <a href="" class="show-form-link">Modifier</a></button>
                  <button class="delete_btn"><a href="{% url 'DeleteCours' cours.id %}">Suprimer</a></button>
                  {% else %}<div class="cours">
                    <!-- Afficher les informations du cours --> 
                   
                    <p class="jour No_visible">{{ cours.jour }}</p>
                    <p class="id_cours No_visible">{{ cours.id }}</p>
                  
                  
                    <p class="groupe-color"> <span class="filiere">{{cours.filiere}}</span> |<span class="salle">{{ cours.salle }}</span></p>
                    <p > <span class="heure_debut">{{ cours.heure_debut }}</span>/<span class="heure_fin">{{ cours.heure_fin }}</span> <span class="matiere">{{cours.matiere}}</span></p>
                    
                    <p class="teacher">{{ cours.teacher }}</p>
                  <button class="edit-button modifier_btn" onclick="editRow2(this)"> <a href="" class="show-form-link">Modifier</a></button>
                  <button class="delete_btn"><a href="{% url 'DeleteCoursAll' cours.id %}">Suprimer</a></button>
                  {% endif %}
                  
                </div>
             
            {% endif %}
          {% empty %}
            <p>Aucun cours programmé</p>
          {% endfor %}
            </td>
              <!-- Répétez le même modèle pour les autres jours de la semaine -->
            </tr>
          </table>

          
          

      </section>

            <!-- Il faut passer les autres jour ici -->
           

        <!-- <section class="cal">
          <tr class="tab-cont">
          <td><td>Donnée</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      

     <!--   <table>
       <tr class="week-days">
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
        </tr>
        <tr class="tab-cont">
          <td>
            {% for cours in cours_programmes %}
              {% if cours.jour == "Lundi" %} -->
                <!-- Afficher les informations du cours -->
                <!-- {{ cours.matiere }} - {{ cours.heure_debut }} à {{ cours.heure_fin }}<br>
              {% endif %}
            {% empty %}
              Aucun cours programmé
            {% endfor %}
          </td>
          <td>
            {% for cours in cours_programmes %}
              {% if cours.jour == "Mardi" %} -->
                <!-- Afficher les informations du cours -->
                <!-- {{ cours.matiere }} - {{ cours.heure_debut }} à {{ cours.heure_fin }}<br>
              {% endif %}
            {% empty %}
              Aucun cours programmé
            {% endfor %}
          </td> -->
          <!-- Répétez le même modèle pour les autres jours de la semaine -->
        <!-- </tr>
      </table>
       -->
      
      
      <!-- <div class="content">
        <form method="get" action="">
            <label for="Lundi">Lundi 
              
            </label>
            <input type="text" name="Lundi" id="Lundi" maxlength="10" required>
        </form>
      </div> -->
      <script>
        function editRow(button) {
          var row = button.parentNode;
          var day= row.querySelector('.jour').textContent;
          var cours_id= row.querySelector('.id_cours').textContent;
          var groupe = row.querySelector('.groupe').textContent;
          var salle = row.querySelector('.salle').textContent;
          var heure_debut = row.querySelector('.heure_debut').textContent;
          var heure_fin = row.querySelector('.heure_fin').textContent;
          var matiere = row.querySelector('.matiere').textContent;
          
         
          
          document.getElementById('Modif_start-time').value = heure_debut;
          document.getElementById('Modif_end-time').value = heure_fin;
          document.getElementById('Modif_matiere').value = matiere;

          document.getElementById('Modif_groupe').value = groupe;
          document.getElementById('Modif_salle').value = salle;
          document.getElementById('Modif_day').value = day;
          document.getElementById('Modif_cours_id').value=cours_id;
      
          var formContainer = document.getElementById('conteneur-formulaire');
          formContainer.style.display = 'block';
        }
        function editRow2(button) {
          var row = button.parentNode;
          var day= row.querySelector('.jour').textContent;
          var cours_id= row.querySelector('.id_cours').textContent;
          var filiere = row.querySelector('.filiere').textContent;
          var salle = row.querySelector('.salle').textContent;
          var heure_debut = row.querySelector('.heure_debut').textContent;
          var heure_fin = row.querySelector('.heure_fin').textContent;
          var matiere = row.querySelector('.matiere').textContent;
          
         
          
          document.getElementById('Modif_start-time').value = heure_debut;
          document.getElementById('Modif_end-time').value = heure_fin;
          document.getElementById('Modif_matiere').value = matiere;

          document.getElementById('Modif_filiere').value = filiere;
          document.getElementById('Modif_salle').value = salle;
          document.getElementById('Modif_day').value = day;
          document.getElementById('Modif_cours_id').value=cours_id;
      
          var formContainer = document.getElementById('conteneur-formulaire');
          formContainer.style.display = 'block';
        }
      
        document.addEventListener('click', function(event) {
          var showFormLink = event.target.closest('.show-form-link');
          if (showFormLink) {
            event.preventDefault();
            editRow(showFormLink.querySelector('.edit-button'));
          }
        });
      
        document.addEventListener('change', function(event) {
          var closeCheckbox = event.target.closest('.close-checkbox-modify');
          if (closeCheckbox) {
            var formContainer = document.getElementById('conteneur-formulaire');
            formContainer.style.display = 'none';
          }
        });

        
        function checkEndTime(startTimeId, endTimeId, warningId) {
              var startTime = document.getElementById(startTimeId).value;
              var endTime = document.getElementById(endTimeId).value;
              var warningMessage = document.getElementById(warningId);

              // Conversion des heures en objets Date pour faciliter la comparaison
              var start = new Date("2000-01-01T" + startTime);
              var end = new Date("2000-01-01T" + endTime);

              // Comparaison des heures
              if (start >= end) {
                  warningMessage.classList.remove('warningHidden');
              } else {
                  warningMessage.classList.add('warningHidden');
              }
            }
      </script>
    </section> 
    </main>
</body>
</html>