{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="Utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'EditTimeplan/styleAdmin.css' %}">
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
      <header>
          <nav>
              <div class="logo">
                <a class="navbar-logo" href="{% url 'accueil' %}">Skedease</a>
              </div>
              <div class="search">
                <input type="search" class="search-input" placeholder="Rechercher">
                <button class="search-button">
                    <svg class="search-icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>
                </button>
            </div>
          </nav>
          <div class="sidebar">
              <div class="profile">
                <div class="profile-pic"> <img src="prof-pic.jpg" alt="photo de profil"></div>&nbsp&nbsp&nbsp&nbsp
                <div class="profile-name"> Mac Ross</div>
              </div>
              <!-- <a href="#">Accueil</a>
              <a href="#">À propos</a>
              <a href="#">Services</a>
              <a href="#">Contact</a>
          </div> -->
      </header>
      <main>
        <section>
          <div class="add-but">
            <button> 
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Créer
              </span>
            </button>
          </div>
          <form id="close" class="form_main" action="{% url 'save_cours' %}" method="post">
            {% csrf_token %}
            <div class="form-nav">
                <label for="close-checkbox" class="close">
                  <div class="line one"></div>
                  <div class="line two"></div>
                </label>
                <input type="checkbox" id="close-checkbox" class="close-checkbox">
            </div>
            <p class="heading">Nouveau cours</p>
            <div class="inputContainer">
                <input type="time" id="start-time" name="start-time" class="inputField" value="07:00" required>
                <input type="time" id="end-time" name="end-time" class="inputField" value="08:00" required>
            </div>
            <div class="date">
              <input type ="date" placeholder="Date" name = date class = "inputField autocomplete" required>
            </div>
            <div class="day">
              <input type="text" placeholder="Jour" name="day" class="inputField" required>
            </div>
            <div class="mat">
                <input type="text" placeholder="Matière" name="matiere" class="inputField autocomplete" id="matiere" autofocus required>

            </div>
          <div class="prof">    <!--Je veux afficher automatiquement le nom du professeur.Je le ferais plus tard -->
                <input type="text" placeholder="Nom du professeur"  name="professeur" class="inputField">
            </div>
          <div class="groupe">
              <input type="text" placeholder="Groupe" name="groupe" class="inputField autocomplete" list="groupe-list" autofocus required>
              <datalist id="groupe-list">
                <option value="Groupe1"></option>
                <option value="Groupe2"></option>
                <option value="Groupe1 & Groupe 2"></option>
              </datalist>

          </div>
            <div class="salle">
              <input type="text" placeholder="Salle" name="salle" class="inputField" required>
          </div>
            <div class="form-sub">
                <button id="button">Créer</button>
                <!-- Apparement ce botton joue le meme role que submit meme lorsqu'on precise pas le type submit -->
            </div>
          </form>
<!-- Au cas ou j'oublie stp rajoute les required   et demande a friedrich de m'envoyer ca fonction js qui efface tous ce qui est 
dans le formulaire apprès l'envoie et qui olace le curseur sur le premier innput du formulaire
-Donne aussi un peu de couleur au table qui sont sur les jours -->
          <script>
            const createButton = document.querySelector('.add-but button');
            const formMain = document.getElementById('close');
            const closeCheckbox = document.getElementById('close-checkbox');

            createButton.addEventListener('click', function() {
              if (formMain.style.display === 'flex') {
                formMain.style.display = 'none';
              } else {
                formMain.style.display = 'flex';
              }
            });

            closeCheckbox.addEventListener('change', function() {
              if (this.checked) {
                formMain.style.display = 'none';
              } else {
                formMain.style.display = 'flex';
              }
            });

          </script>

      </section>
      
      <section class="cal">
        <hr >
       





        <table>
          <tr class="week-days">
            <th>Lundi</th>
           
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
          </tr>
          </table>
          <!-- L'esemble des colones -->
          <div class="DayPlan">
            {% for cours in CoursProgrammer %}
            <!-- La colone du jour -->
            <!-- Condtion de verification du jour -->
              {% if cours.jour == "Lundi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

              {% if cours.jour == "Mardi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

              {% if cours.jour == "Mercredi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

              {% if cours.jour == "Jeudi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

              {% if cours.jour == "Vendredi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

              {% if cours.jour == "Samedi" %}
              <div class="vertical-table">
                <div class="vertical-row">
                   <!-- Cellule a repeter -->
                    <div class="vertical-cell">
                     <p>
                      <li>{{cours.groupe}}  {{cours.salle}}</li>
                      <li>{{cours.heure_debut}}/{{cours.heure_fin}}</li>
                      <li>{{cours.teacher}}</li></p>
                    </div>
                </div>
              </div>
              {% endif %}

          </div>
          {% endfor %}
                

          <section class="cal">
            <hr>
          
            <table>
              <tr class="week-days">
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
              </tr>
              <tr class="tab-cont">
                <td>
                  {% for cours in CoursProgrammer %}
                    {% if cours.jour == "Lundi" %}
                      <!-- Afficher les informations du cours -->
                      <p>{{ cours.groupe }} {{ cours.salle }}</p>
                      <p>{{ cours.heure_debut }}/{{ cours.heure_fin }}</p>
                      <p>{{ cours.teacher }}</p>
                    {% endif %}
                  {% empty %}
                    <p>Aucun cours programmé</p>
                  {% endfor %}
                </td>
                <td>
                  {% for cours in CoursProgrammer %}
                    {% if cours.jour == "Mardi" %}
                      <!-- Afficher les informations du cours -->
                      <p>{{ cours.groupe }} {{ cours.salle }}</p>
                      <p>{{ cours.heure_debut }}/{{ cours.heure_fin }}</p>
                      <p>{{ cours.teacher }}</p>
                    {% endif %}
                  {% empty %}
                    <p>Aucun cours programmé</p>
                  {% endfor %}
                </td>
                <!-- Répétez le même modèle pour les autres jours de la semaine -->
              </tr>
            </table>
          </section>

              <!-- Il faut passer les autres jour ici -->
             

          <!-- <tr class="tab-cont">
            <td><td>Donnée</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->
        

       <!--   <table>
         <tr class="week-days">
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
          </tr>
          <tr class="tab-cont">
            <td>
              {% for cours in cours_programmes %}
                {% if cours.jour == "Lundi" %} -->
                  <!-- Afficher les informations du cours -->
                  <!-- {{ cours.matiere }} - {{ cours.heure_debut }} à {{ cours.heure_fin }}<br>
                {% endif %}
              {% empty %}
                Aucun cours programmé
              {% endfor %}
            </td>
            <td>
              {% for cours in cours_programmes %}
                {% if cours.jour == "Mardi" %} -->
                  <!-- Afficher les informations du cours -->
                  <!-- {{ cours.matiere }} - {{ cours.heure_debut }} à {{ cours.heure_fin }}<br>
                {% endif %}
              {% empty %}
                Aucun cours programmé
              {% endfor %}
            </td> -->
            <!-- Répétez le même modèle pour les autres jours de la semaine -->
          <!-- </tr>
        </table>
         -->
        
        
        <!-- <div class="content">
          <form method="get" action="">
              <label for="Lundi">Lundi 
                
              </label>
              <input type="text" name="Lundi" id="Lundi" maxlength="10" required>
          </form>
        </div> -->
      </section> 
      </main>
  </body>
</html>