@font-face {
    font-family:'euclid';
    src: url('Euclid\ Circular\ A\ Bold.ttf');
}

/* page complete */
body{
    background-color:white;
    font-family:euclid;
    height: 400px;
}
#navlogo{
    position: absolute;
}
.recherche{
    position:relative;
    margin-top: -50px;
    border-radius: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgb(190,190,190,0.2);
    height: 1px;
    width: 190px;
}

input{
    position: relatives;
    margin-left: 10px;
    width: 150px;
    text-align: center;
    border: 0;
}
.btn{
    height: 25px;
    width: 200px;
    padding: 0%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
    background-color: rgba(142, 161, 173, 0.781);
    margin-left: 25px;
}
/* bar de navigation */
.navbar{
    height: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.568);
    background-color: white;
}
/* le nom SchedEase au niveau de la navbar à gauche */
#nom{
    margin-left: 2em;
}
/* barlateral à gauche contenant photo de profil et autre */
.barlat{
    margin: 0%;
    position: fixed;
    margin-top: -2%;
    position: absolute;
    background-color:rgba(142, 161, 173, 0.781);
    height: 38em;
    width: 200px;
}
/* image de profil mis au niveau de la bar lateral gauche */
.imfprofil{
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    height: 45px;
    margin-left: 35%;
    margin-top: 50px;
}
.imfprofil:hover{
    height: 52px;
}
/* nom d'uttilisateur mis juste en bas de la photo de profil */
.username{
    font-weight: 500;
    padding-top: 100px;
    padding-left: 26%;
}
/* animation des boutton  */
button:hover{
    font-size: 18.5px;
    background-color:rgba(255, 255, 255, 0.548);
}
/* boutton compte bar lateral gauche*/
button{
    background-color:rgba(142, 161, 173, 0.781);
}
.boutton-compte{
    border-color: white;
    border:white;
    text-align: center;
    margin-top: 100%;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 200px;
}
/* boutton planning bar lateral gauche */
.boutton-planning{
    border:white;
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 200px;
}
/* boutton logout bar lateral gauche */
.boutton-logout{
    border-color: white;
    border:white;
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 200px;
}
/* icon notification  */
#iconnotif{
    position: absolute;
    margin-top: -15px;
    margin-left: 60em;
    cursor: pointer;
}
.div{
    display: none;
}
/* div contenant le tableau des emplois */
.container{
    margin-top: 76px;
    margin-left: 215px;
}
/* proprieter css sur le tableau des emplois  */
#date-case{
    color: white;
    background-color:#368ea3;
}
#date-case:hover{
    font-size: 15px;
    background-color:rgba(142, 161, 173, 0.781);
}
tbody{
    color: black;
    letter-spacing: 2.5px;
}
span{
    cursor: pointer;
}
span:hover{
    font-size: 14px;
    background-color: rgba(128, 128, 128, 0.212);
}
.bg-light-gray {
    background-color:beige;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}
.table-responsive{
    border-color: black;
    border-radius: 10px;
}
.text-light-gray {
    color:rgba(0, 0, 0, 0.473);
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .65rem;
    vertical-align: top;
    border-radius: 2px;
    border-top: 1px solid #e6e5de;
}
