{% load static %} <!--Indispensable pour charger les fichier statiques comme du CSS ou de JavaScript-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedEase|Home</title>
    <link rel="stylesheet" href="{% static 'showtimeplan/style-index.css' %}" type="text/css"/> <!--Gabarit pour que le fichier css s'applique au html-->
</head>   

    <body>
        
        <header>
            <nav class="navbar">
                <div class="desktop-navbar">
                <!-- <div class="mobile-navbar"></div> -->
                    <a class="navbar-logo" href="index.html">SchedEase</a> 
                    <ul style="list-style: none;" class="navbar-list">
                        <li><a href="schedule.html">Schedule Model </a></li> 
                    </ul>
                    <div >
                        <a href= "{% url 'login' %}">Connexion</a>
                       <!--<a href="register.html">Inscription</a>--> 
                       <!--L'Inscription apparait déja au niveau du bouton "Découvrir" donc plus besoin de le mettre-->
                        
                    </div>

                    <!-- <label class="hamburger">
                        <input type="checkbox">
                        <svg viewBox="0 0 32 32">
                            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                            <path class="line" d="M7 16 27 16"></path>
                        </svg>
                    </label> -->
                </div>
            </nav> 
            <div class="header-content">

                <div class="header-title" class="animated-text">
                    <h1>Avec SchedEase, <br>Je <span class="animation"></span></h1>
                </div>
                <div class="header-text">
                    <p>SchedEase est une solution pratique pour la gestion de vos emplois du temps. SchedEase est utile, aussi bien pour les étudiants que pour les enseignants. Découvrez comment utiliser cet outil pour maximiser votre temps. </p>
                </div>
                <div class="header-block">
                    <a href=""><button>Découvrir</button></a> <a href="{% url 'register' %}"><button>Inscription</button></a>
                </div>
            </div>

        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>