
    

        <html>
            <head>
                <title>timeTable</title>
                <meta charset="utf-8>"
                
    </head>
    <body>
        <center>
          <form name="register" method="post" action="../insertuser/">    <!-- Pourquoi le action est comme ca -->
               
                <div class="etape_d_identification">
                    {%csrf_token %}
                    <h1>Register you</h1>
                    <span>
                    <label for="Nom"><u>Nom</u>:</label>
                    <input id="input1" type="text" name="nom" values="" required></span><br>
                    <span>
                    <label for="Prénom"><u>Prénom</u>:</label>
                    <input type="Text" name="prenom" values="" required></span><br>
                    <span>
                        <label for="Email"><u>Email</u>:</label>
                        <input type="Text" name="Email" values="" required></span><br>
                    <span>
                    <label for="Année_de_naissance"><u>Naissance</u>:</label>
                    <input type="text" placeholder="Année de naissance" name="borndate" values="" required></span><br>
                    <!-- <span>
                        <label for="gender"><u>Sexe</u>:</label> 
                        <input style="height:14px" type="radio" name="gender" value="Masculin"/>Masculin
                        <input style="height:14px" type="radio" name="gender" value="Féminin"/>Féminin
                    </span>		<br> 
                    <span>Une photo de vous:<input type="file" value="Envoyer une photo" name="file" accept="image"><br></span>
                </div>-->
                <input type="submit" name="reg" values="Click to register">
            </form>
        </center>

    </body>
</html>