{% load static %} <!--Indispensable pour charger les fichier statiques comme du CSS ou de JavaScript-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'showtimeplan/style-register.css' %}"> <!--Gabarit pour que le fichier css s'applique au html-->
    <title>Skedise|Register</title>
</head>
<body>
    <p><b>Skedise</b></p>
    <div class="intro">
        <h1>Devenez cinq fois plus productif avec Skedise</h1>
        <p>Vous avez un compte ? <a href="login.html">Connectez-vous !</a></p>
    </div>
    <form action ="" method="post">
        <legend>Inscription</legend><br>
        <input type ="text" id="nom" name="Nom" required placeholder="nom"><br><br>
        <input type ="text" id="prenom" name="Prenom" required placeholder="prenom"><br><br>
        <input type ="email" id="email" name="Email" required placeholder="email"><br><br>
        <input type ="password" id="password" name="Mot_de_passe" required placeholder="mot de passe"><br><br>
        <input type ="password" id="confirm_password" name="Mot_de_passe_confirm" required placeholder="confirmer mot de passe"><br><br>
        <input type="submit" value ="Soumettre">
    </form>
    
</body>
</html>