{% load static %} <!--Indispensable pour charger les fichier statiques comme du CSS ou de JavaScript-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'showtimeplan/style-register.css' %}"> <!--Gabarit pour que le fichier css s'applique au html-->
    <style>
        .error-message{
            color: red;
            list-style-type: none; 
            padding: 0; 
            margin: 0; 
        }
        input[type="submit"]:hover{
          color: red;
          text-decoration: underline;
        }
    </style>
    <title>Skedise|Register</title>
</head>
<body>
    <p><b><a href="{% url 'accueil' %}">SchedEase</a></b></p>
    <div class="intro">
        <h1>Devenez cinq fois plus productif avec SchedEase</h1>
        <p>Vous avez un compte ? <a href="{% url 'login' %}">Connectez-vous !</a></p>
    </div>
    
    <form action="{% url 'insertuser' %}" method="post" onsubmit="return validateForm()">
  {% csrf_token %}
  <legend>Inscription</legend><br>

  <input type="text" id="nom" name="nom" value="{% if form.nom.value %}{{ form.nom.value }}{% endif %}" required placeholder="nom" pattern="[a-zA-Z]+" minlength="3" title="(Lettres uniquement et au moins 3 caractères)" autocomplete="off"><br><br>
  <input type="text" id="prenom" name="prenom" required placeholder="prenom" value="{% if form.prenom.value %}{{ form.prenom.value }}{% endif %}" pattern="[a-zA-Z]+" minlength="3" title="(Lettres uniquement et au moins 3 caractères)" autocomplete="off"><br><br>
  <input type="email" id="email" name="email" required placeholder="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="email-input" autocomplete="off"><br><br>
  {% if form.errors.email %}
    <span class="error-message">{{ form.errors.email }}</span>
  {% endif %}
  <input type="tel" id="phone" name="numero_telephone" required placeholder="Numéro de téléphone" value="{% if form.numero_telephone.value %}{{ form.numero_telephone.value }}{% endif %}" pattern="[0-9]{8}" title="(Chiffres uniquement et une longueur totale de 8 chiffres)" autocomplete="off"><br><br>
  <input type="password" id="password" name="mot_de_passe" required placeholder="mot de passe" value="{% if form.mot_de_passe.value %}{{ form.mot_de_passe.value }}{% endif %}" minlength="8" title="(Au moins 8 caractères)" autocomplete="off"><br><br>
  <input type="password" id="confirm_password" name="confirmer_mot_de_passe" required placeholder="confirmer mot de passe" value="{% if form.confirmer_mot_de_passe.value %}{{ form.confirmer_mot_de_passe.value }}{% endif %}" minlength="8" title="(Au moins 8 caractères)" autocomplete="off"><br><br>

  <input type="submit" value="Soumettre">
</form>

<script>
  window.onload = function() {
    var nomField = document.getElementById("nom");
    var prenomField = document.getElementById("prenom");
    var emailField = document.getElementById("email");
    var phoneField = document.getElementById("phone");
    var passwordField = document.getElementById("password");
    var confirmPasswordField = document.getElementById("confirm_password");

    var nom = sessionStorage.getItem("nom");
    var prenom = sessionStorage.getItem("prenom");
    var email = sessionStorage.getItem("email");
    var phone = sessionStorage.getItem("phone");
    var password = sessionStorage.getItem("password");
    var confirmPassword = sessionStorage.getItem("confirmPassword");

    if (nom) {
      nomField.value = nom;
    }
    if (prenom) {
      prenomField.value = prenom;
    }
    if (email) {
      emailField.value = email;
    }
    if (phone) {
      phoneField.value = phone;
    }
    if (password) {
      passwordField.value = password;
    }
    if (confirmPassword) {
      confirmPasswordField.value = confirmPassword;
    }
  };
</script>
    
    <script>
        
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            
            if (password !== confirmPassword) {
                alert("Les mots de passe ne correspondent pas.");
                document.getElementById("password").focus(); // Ramène le curseur dans le champ mot de passe lorque les deux mots de passe ne coincident pas
                return false; // Empêche la soumission du formulaire
            }
            return true; // Autorise la soumission du formulaire
        }
        
    </script>
    <script>
        {% if form.errors.email %}
        window.onload = function() {
            var emailInput = document.querySelector('.email-input');
            if (emailInput) {
                emailInput.focus();
            }
        };
        {% endif %}
    </script>
    
    
    
</body>
</html>